In [1]:
import pandas
import geopandas
import matplotlib.pyplot as plt

In [10]:
LAcity = geopandas.read_file("/Users/samarthsrinivasa/Downloads/DS-Path/Pyneapple-main/notebooks/data/LACity") #LA City, 1012
LAcounty = geopandas.read_file("/Users/samarthsrinivasa/Downloads/DS-Path/Pyneapple-main/notebooks/data/LACounty") #LA County, 2344
SCA = geopandas.read_file("/Users/samarthsrinivasa/Downloads/DS-Path/Pyneapple-main/notebooks/data/SCA") #SCA, 3947
Diversity = geopandas.read_file("/Users/samarthsrinivasa/Downloads/DS-Path/PRUC-master-Yongyi-Liu/DataFile/diversity") #Diversity, 3225
#10528? 167 extra rows were created 
#LA City = 1012 x 67
#LA county = 2344 x 54
#SCA = 3947 x 80

LAcounty

,fid,STATEFP10,COUNTYFP10,TRACTCE10,GEOID10,NAME10,NAMELSAD10,MTFCC10,FUNCSTAT10,ALAND10,...,Tot_Housin,Occup_Hous,Vac_Housin,GEO.id,pop2010,households,pop_16up,employed,unemployed,geometry
0,1.0,06,037,920336,06037920336,9203.36,Census Tract 9203.36,G5020,S,1656848.0,...,1839.0,1765.0,74.0,1400000US06037920336,6214,1506,4367,2633,257,"POLYGON ((-118.52411 34.37552, -118.52453 34.3..."
1,2.0,06,037,920044,06037920044,9200.44,Census Tract 9200.44,G5020,S,972475.0,...,925.0,903.0,22.0,1400000US06037920044,2836,907,2036,1361,80,"POLYGON ((-118.52158 34.44212, -118.52200 34.4..."
2,3.0,06,037,573003,06037573003,5730.03,Census Tract 5730.03,G5020,S,401153.0,...,655.0,617.0,38.0,1400000US06037573003,1943,637,1447,874,154,"POLYGON ((-118.20143 33.78985, -118.20173 33.7..."
3,4.0,06,037,571704,06037571704,5717.04,Census Tract 5717.04,G5020,S,481586.0,...,1180.0,1128.0,52.0,1400000US06037571704,4602,1135,3093,1563,198,"POLYGON ((-118.18732 33.84562, -118.18771 33.8..."
4,5.0,06,037,570403,06037570403,5704.03,Census Tract 5704.03,G5020,S,570677.0,...,1218.0,1080.0,138.0,1400000US06037570403,4550,1074,2905,1611,265,"POLYGON ((-118.20813 33.87463, -118.20813 33.8..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2339,2342.0,06,037,430302,06037430302,4303.02,Census Tract 4303.02,G5020,S,1937348.0,...,2531.0,2404.0,127.0,1400000US06037430302,6104,2465,4927,3272,122,"POLYGON ((-118.00433 34.15132, -118.00488 34.1..."
2340,2343.0,06,037,430723,06037430723,4307.23,Census Tract 4307.23,G5020,S,486402.0,...,1788.0,1657.0,131.0,1400000US06037430723,3956,1681,3168,2036,135,"POLYGON ((-118.05227 34.12914, -118.05468 34.1..."
2341,2344.0,06,037,431100,06037431100,4311,Census Tract 4311,G5020,S,3015523.0,...,2114.0,2032.0,82.0,1400000US06037431100,6840,2097,5368,3176,277,"POLYGON ((-117.99499 34.13044, -117.99498 34.1..."
2342,2345.0,06,037,533603,06037533603,5336.03,Census Tract 5336.03,G5020,S,808995.0,...,1784.0,1712.0,72.0,1400000US06037533603,5899,1663,4170,2377,154,"POLYGON ((-118.19134 33.96894, -118.19179 33.9..."
2343,2346.0,06,037,534101,06037534101,5341.01,Census Tract 5341.01,G5020,S,514817.0,...,524.0,514.0,10.0,1400000US06037534101,2402,560,1693,1090,86,"POLYGON ((-118.16909 33.96379, -118.16909 33.9..."

In [4]:
SCA.info()
#LAcity.info()
#LAcounty.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 3947 entries, 0 to 3946
Data columns (total 80 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   OBJECTID    3947 non-null   int64
 1   GEOID10     3947 non-null   object
 2   COUNTYFP10  3947 non-null   object
 3   TRACTCE10   3947 non-null   object
 4   Cnty_Name   3825 non-null   object
 5   City_Name   3704 non-null   object
 6   ZIP         3947 non-null   int64
 7   Acres       3947 non-null   float64
 8   SqMi        3947 non-null   float64
 9   Pop_16      3947 non-null   int64
 10  Pop_Den     3947 non-null   int64
 11  Pop_Src     3947 non-null   object
 12  Pop_10      3947 non-null   int64
 13  White_Pct   3947 non-null   float64
 14  Black_Pct   3947 non-null   float64
 15  Asian_Pct   3947 non-null   float64
 16  Latino_Pct  3947 non-null   float64
 17  Mltpl_Pct   3947 non-null   float64
 18  NatAm_Pct   3947 non-null   float64
 19  PacIs_Pct   3947 non-null   float64
 20  Other_Pct   3947 non-null   float64
 21  NonWhite_P  3947 non-null   float64
 22  Race_Src    3947 non-null   object
 23  Elders_Pct  3947 non-null   float64
 24  Elders_Rpt  3947 non-null   object
 25  Elders_Src  3947 non-null   object
 26  SpksEng_Pc  3947 non-null   float64
 27  SpksEng_Rp  3825 non-null   object
 28  SpksEng_Sr  3825 non-null   object
 29  UnEmp_Rate  3947 non-null   float64
 30  Emp_15      3947 non-null   int64
 31  Emp_Den     3947 non-null   float64
 32  Emp_Src     3947 non-null   object
 33  Income_Pct  3947 non-null   int64
 34  Income_Rpt  3825 non-null   object
 35  Income_Src  3825 non-null   object
 36  Under19_Pc  3947 non-null   float64
 37  MHI2016     3903 non-null   float64
 38  fid         3947 non-null   float64
 39  STATEFP10   3947 non-null   object
 40  COUNTYFP_1  3947 non-null   object
 41  TRACTCE10_  3947 non-null   object
 42  GEOID10_2   3947 non-null   object
 43  NAME10      3947 non-null   object
 44  NAMELSAD10  3947 non-null   object
 45  MTFCC10     3947 non-null   object
 46  FUNCSTAT10  3947 non-null   object
 47  ALAND10     3947 non-null   float64
 48  AWATER10    3947 non-null   float64
 49  INTPTLAT10  3947 non-null   object
 50  INTPTLON10  3947 non-null   object
 51  Tot_Pop     3947 non-null   float64
 52  One_Race    3947 non-null   float64
 53  White       3947 non-null   float64
 54  Afro_Amer   3947 non-null   float64
 55  Native      3947 non-null   float64
 56  Asian       3947 non-null   float64
 57  Pac_Isl     3947 non-null   float64
 58  Other_Race  3947 non-null   float64
 59  Two_Or_Mor  3947 non-null   float64
 60  Hispanic    3947 non-null   float64
 61  Not_Hisp    3947 non-null   float64
 62  Hisp_One_R  3947 non-null   float64
 63  Hisp_White  3947 non-null   float64
 64  Hisp_Afro_  3947 non-null   float64
 65  Hisp_Nativ  3947 non-null   float64
 66  Hisp_Asian  3947 non-null   float64
 67  Hisp_Pac_I  3947 non-null   float64
 68  Other       3947 non-null   float64
 69  Hisp_Two_O  3947 non-null   float64
 70  Tot_Housin  3947 non-null   float64
 71  Occup_Hous  3947 non-null   float64
 72  Vac_Housin  3947 non-null   float64
 73  GEO.id      3947 non-null   object
 74  pop2010     3947 non-null   int64
 75  households  3947 non-null   int64
 76  pop_16up    3947 non-null   int64
 77  employed    3947 non-null   int64
 78  unemployed  3947 non-null   int64
 79  geometry    3947 non-null   geometry
dtypes: float64(42), geometry(1), int64(12), object(25)
memory usage: 2.4+ MB

In [6]:
csv_filename = 'LAcity.csv'
LAcity.to_csv(csv_filename, index=False)

In [7]:
LAcity

,fid,OBJECTID,TRACTCE10,POP,LATPOP_D,WHIPOP_D,BLAPOP_D,AMIPOP_D,ASIPOP_D,HPIPOP_D,...,Tot_Housin,Occup_Hous,Vac_Housin,GEO.id,pop2010,households,pop_16up,employed,unemployed,geometry
0,1.0,1,101110,4731,1324,2656,83,24,580,15,...,1734.0,1641.0,93.0,1400000US06037101110,5017,1693,3954,2512,175,"POLYGON ((-118.29420 34.26289, -118.29331 34.2..."
1,2.0,2,101122,3664,575,2437,34,18,578,3,...,1369.0,1325.0,44.0,1400000US06037101122,3663,1304,3042,1932,102,"POLYGON ((-118.28996 34.27813, -118.29006 34.2..."
2,3.0,3,101210,5990,2219,2890,192,16,625,16,...,2317.0,2150.0,167.0,1400000US06037101210,6799,2175,5370,3317,307,"POLYGON ((-118.29212 34.25071, -118.29219 34.2..."
3,4.0,4,101220,3363,1272,1662,45,25,335,6,...,1317.0,1246.0,71.0,1400000US06037101220,3189,1173,2631,1620,153,"POLYGON ((-118.27946 34.24757, -118.27976 34.2..."
4,5.0,5,101300,4199,503,3190,47,26,402,10,...,1582.0,1542.0,40.0,1400000US06037101300,3808,1408,3209,1857,151,"POLYGON ((-118.26542 34.25547, -118.26542 34.2..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1007,1008.0,1008,980024,186,23,135,4,0,23,0,...,73.0,70.0,3.0,1400000US06037980024,88,39,64,39,0,"POLYGON ((-118.49021 34.18664, -118.48584 34.1..."
1008,1009.0,1009,980026,20,1,17,1,1,0,0,...,9.0,8.0,1.0,1400000US06037980026,36,23,23,23,0,"POLYGON ((-118.28633 34.29177, -118.28643 34.2..."
1009,1010.0,1010,980028,4,2,0,2,0,0,0,...,1.0,1.0,0.0,1400000US06037980028,0,0,0,0,0,"POLYGON ((-118.42946 33.91632, -118.42967 33.9..."
1010,1011.0,1011,980031,1262,390,512,223,34,60,24,...,242.0,173.0,69.0,1400000US06037980031,932,58,932,32,0,"POLYGON ((-118.24384 33.74366, -118.23724 33.7..."
1011,1012.0,1012,990200,0,0,0,0,0,0,0,...,0.0,0.0,0.0,1400000US06037990200,0,0,0,0,0,"MULTIPOLYGON (((-118.51368 33.93906, -118.5181..."

In [16]:
target_crs = 'EPSG:4326'  # Choose a CRS, such as WGS 84

LAcity_transformed = LAcity.to_crs(target_crs)
LAcounty_transformed = LAcounty.to_crs(target_crs)
SCA_transformed = SCA.to_crs(target_crs)
Diversity_transformed = Diversity.to_crs(target_crs)

# Concatenate the transformed GeoDataFrames
combined = geopandas.GeoDataFrame(pandas.concat([LAcity_transformed, LAcounty_transformed, SCA_transformed, Diversity_transformed], ignore_index=True))
combined

,fid,OBJECTID,TRACTCE10,POP,LATPOP_D,WHIPOP_D,BLAPOP_D,AMIPOP_D,ASIPOP_D,HPIPOP_D,...,count_q4_M,Diversity,BlackorA,AmericanI,Asianalon,NativeHaw,TwoorMor,Hispanico,Whitealon,county
0,1.0,1.0,101110,4731.0,1324.0,2656.0,83.0,24.0,580.0,15.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2.0,2.0,101122,3664.0,575.0,2437.0,34.0,18.0,578.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3.0,3.0,101210,5990.0,2219.0,2890.0,192.0,16.0,625.0,16.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4.0,4.0,101220,3363.0,1272.0,1662.0,45.0,25.0,335.0,6.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5.0,5.0,101300,4199.0,503.0,3190.0,47.0,26.0,402.0,10.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10523,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.045308,0.4,0.1,0.3,0.0,1.1,0.4,97.7,County
10524,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.089231,0.6,0.4,0.6,0.0,0.9,2.2,95.4,County
10525,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.517585,0.6,3.5,0.7,0.2,2.2,53.9,43.6,County
10526,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.447090,0.5,1.8,0.8,0.2,1.8,28.8,68.5,County
10527,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.171069,0.6,0.5,0.6,0.1,1.2,6.5,90.8,County

In [17]:
csv_filename = 'CombinedDataSets.csv'
combined.to_csv(csv_filename, index=False)

In [18]:
csv_filename = 'LAcounty.csv'
LAcounty.to_csv(csv_filename, index=False)

In [19]:
csv_filename = 'SCA.csv'
SCA.to_csv(csv_filename, index=False)

In [20]:
csv_filename = 'Diversity.csv'
Diversity.to_csv(csv_filename, index=False)